h2 {
    justify-content: center;
    display: flex;
    text-align: center;
    color: #5c56cf;
}

.logincomponent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.form {
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(92, 86, 207, 0.5);
    width: 100%;
    max-width: 50%; /* Sätter maxbredden till 50% av skärmen */
    padding: 2rem;
    box-sizing: border-box;
}

.loginbutton {
    background-color: #00b120;
    color: #ffffff;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    width: 30%;
}

.link {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 100;
    margin-top: 1rem;
}
.lablesinput {
    color: #ffffff;
    margin-top: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.lablesinput input {
    width: 100%;
    padding: 0.5rem;
}

.lablesinput label {
    color: #ffffff;
    display :flex;
    flex-direction: column;

}