
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    text-align: center;
    font-size: 2rem;
    color: #0e0043;
    margin-bottom: 20px;
    flex-basis: 100%;
}

.createBoardForm {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 20px;

}

.createBoardForm h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #170043;
}

.createBoardForm input {
    margin: 5px 0;
    padding: 8px;
    width: 90%;
    max-width: 300px;
    border: 1px solid #1e0048;
    border-radius: 4px;
}

.createBoardForm button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createBoardForm button:hover {
    background-color: #0056b3;
}

.boardListContainer {
    display: flex;
    flex-wrap: nowrap; /* Förhindrar att items går till ny rad */
    gap: 15px;
    width: 100%;
    overflow-x:scroll; /* Gör så att vi kan skrolla horisontellt vid behov */
    max-width: calc(4 * 20rem + 3 * 1.5rem);  
    scroll-behavior: smooth;
}

.boardItem {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 12rem; /* Sätt en fast bredd för varje board */
    flex: 0 0 auto; /* Förhindrar att boards ändrar bredd */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.boardItem h5 {
    margin: 0;
    color: #150043;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
}

.boardItem p {
    color: #15003e;
    font-size: 0.75rem;
    margin: 10px 0;
    text-align: center;
}

.boardTasks {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    text-align: left;
   
}

.boardTasks li {
    background-color: #bbdcff;
    margin-top: 1rem;
    border-radius: 7px;
    color: #0a0044;
    padding: 5px;
    border-bottom: 1px solid #9f9f9f;
}

.boardTasks li:last-child {
    border-bottom: none;
}


.deletetaskbutton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.5rem;
    color: #fff;
    background-color: #0e053f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taskbutton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.5rem;
    color: #fff;
    background-color: #0e053f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taskbutton:hover {
    background-color: #00a203;
}

.deletetaskbutton:hover{
    background-color: #be0000;
}

.boardItem .newtask {
    background-color: #4979fb;
}

.boardItem .deletebutton {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.5rem;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createTaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 2rem;
}

.createTaskForm input {
    margin: 5px 0;
    padding: 5px;
    width: 90%;
    border: 1px solid #1e0048;
    border-radius: 4px;
}

.createTaskForm ::placeholder {
    font-size: 0.75rem;
    color: #150043;
    margin-bottom: 5px;
}