.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8rem;
    background-color: #0E2470;
    bottom: 2px;
    scroll-padding-block-end: 100%;
}

a {
    color: white;
    padding: 2px;
    margin: 0px;
    display: block;
    margin-bottom: 2px;
    text-decoration: none;
}


